@model LiftoffProject.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = Model.Game.Name;
 }

    <h1>@Model.Game.Name</h1>

<img src="@Model.Game.Cover.Url" alt="@Model.Game.Name" />


<h4>@Model.Game.Summary</h4>

@if(Model.DevGames != null)
{
    <h4>Developed by:</h4>
    foreach(DevGame devGame in Model.DevGames)
    {
        <h4>@devGame.Developer.Name</h4>

    }

}
@if(Model.Game.PubGames != null)
{
    <h4>Published by:</h4>
    foreach(PubGame pubGame in Model.Game.PubGames)
    {
        <h4>@pubGame.Publisher.Name</h4>

    }

}
@if(Model.Genres != null)
{
    <h4>Genres:</h4>
    foreach(GenreGameId genreGameId in Model.Genres)
    {
        <h4>@genreGameId.Genre.Name</h4>

    }

}