@model LiftoffProject.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = Model.Game.Name;
}

<h1>@Model.Game.Name</h1>
<div id="cover">
    @if (Model.Game.Cover != null)
    {
        <img style="" src="@("https://images.igdb.com/igdb/image/upload/t_cover_big/" + Model.Game.Cover.ImageId + ".jpeg")" alt="@Model.Game.Name" />
    }
</div>

<div id="summary">
    <p>@Model.Game.Summary</p>
</div>

<div id="genre">
    @if (Model.Genres != null)
    {
        <h4>Genres:</h4>
        foreach (GenreGameId genreGameId in Model.Genres)
        {
            <h5>@genreGameId.Genre.Name</h5>

        }

    }
</div>

<div id="releasedate">
    @if (Model.ReleaseDates != null)
    {
        <h4>Release Date:</h4>
        bool first = true;
        foreach (ReleaseGameId releaseGameId in Model.ReleaseDates)
        {
        if(first == true)
        {
        <h5>@releaseGameId.ReleaseDate.Human</h5>
        first = false;
        }
        }
    }
</div>

<div id="screenshots">

@if (Model.Screenshots != null)
{
    <h4>Screenshots:</h4>
    bool first = true;
    foreach (ScreenshotGameId screenshotGameId in Model.Screenshots)
    {
        if (first == true)
        {
            <style>
                body {
                    background-image: url(@("https://images.igdb.com/igdb/image/upload/t_screenshot_big/" + @screenshotGameId.Screenshot.ImageId + ".jpeg"));
                    background-repeat:no-repeat;
                    background-size:100%;
                }
            </style>
            first = false;
        }
        <img src="@("https://images.igdb.com/igdb/image/upload/t_screenshot_med/" + @screenshotGameId.Screenshot.ImageId + ".jpeg")" alt="Screenshot" />

    }

}
</div>

