@model LiftoffProject.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = Model.Game.Name;
 }

    <h1>@Model.Game.Name</h1>
@if (Model.Game.GameCover != null)
{
<img src="@Model.Game.GameCover.Url" height="@(@Model.Game.GameCover.Height/7)" width="@(@Model.Game.GameCover.Width/7)" alt="@Model.Game.Name" />
}

<h4>@Model.Game.Summary</h4>

@if(Model.Genres != null)
{
    <h4>Genres:</h4>
    foreach(GenreGameId genreGameId in Model.Genres)
    {
        <h4>@genreGameId.Genre.Name</h4>

    }

}

@if(Model.Screenshots != null)
{
    foreach(Image screenshot in Model.Screenshots)
    {
        <img src="@screenshot.Url" alt="Screenshot" />

    }

}

