@model LiftoffProject.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = Model.Game.Name;
 }

    <h1>@Model.Game.Name</h1>

<img src="@Model.Game.Cover.Url" alt="@Model.Game.Name" />


<h4>@Model.Game.Summary</h4>

@if(Model.Game.Developers != null)
{
    <h4>Developed by:</h4>
    foreach(Developer developer in Model.Game.Developers)
    {
        <h4>@developer.Name</h4>

    }

}
@if(Model.Game.Publishers != null)
{
    <h4>Published by:</h4>
    foreach(Publisher publisher in Model.Game.Publishers)
    {
        <h4>@publisher.Name</h4>

    }

}
@if(Model.Genres != null)
{
    <h4>Genres:</h4>
    foreach(GenreGameId genreGameId in Model.Genres)
    {
        <h4>@genreGameId.Genre.Name</h4>

    }

}