@model LiftoffProject.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = Model.Game.Name;
}

<h1>@Model.Game.Name</h1>
@if (Model.Game.Cover != null)
{
    <img src="@Model.Game.Cover.Url" height="@(@Model.Game.Cover.Height/7)" width="@(@Model.Game.Cover.Width/7)" alt="@Model.Game.Name" />
}

<h4>@Model.Game.Summary</h4>

@if (Model.Genres != null)
{
    <h4>Genres:</h4>
    foreach (GenreGameId genreGameId in Model.Genres)
    {
        <h4>@genreGameId.Genre.Name</h4>

    }

}

@if (Model.ReleaseDates != null)
{
    <h4>Release Date:</h4>
    foreach (ReleaseDate releaseDate in Model.ReleaseDates)
    {
        <h4>@releaseDate.Date</h4>

    }

}

@if (Model.Screenshots != null)
{
    foreach (Image screenshot in Model.Screenshots)
    {
        <img src="@screenshot.Url" alt="Screenshot" />

    }

}

