@model LiftoffProject.Models.Game

    <h1>@Model.Name</h1>

<img src="@Model.Cover.Url" alt="@Model.Name" />


<h4>@Model.Summary</h4>

@if(Model.Developers != null)
{
    <h4>Developed by:</h4>
    foreach(Developer developer in Model.Developers)
    {
        <h4>@developer.Name</h4>

    }

}
@if(Model.Publishers != null)
{
    <h4>Published by:</h4>
    foreach(Publisher publisher in Model.Publishers)
    {
        <h4>@publisher.Name</h4>

    }

}